
.imgBcg {
  background-image: url("/images/bcgImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celebrate {
  background-color: #171616e9;
  height: auto;
  width: 45%;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
}

.celebrate h3 {
  padding: 10px;
  font-family: "Kaushan Script", cursive;
  color: #b07c35;
  font-size: 45px;
  font-weight: 400;
}


.reviewTitle{
      display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: anchor-center;
    font-family: "Kotta One", serif;
  }
  
  .reviewTitle  h3{
  font-size: 3rem;

}


/* ✅ Responsive Design */
@media (max-width: 768px) {
  .celebrate {
    width: 80%;
    padding: 4vh 5vw;
  }

  .celebrate h3 {
    font-size: 28px;
  }

  .imgBcg {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .celebrate h3 {
    font-size: 22px;
  }

  .imBcg {
    height: 50vh;
  }
}



.CardCarousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem 2rem; /* ✅ padding around carousel */
  scrollbar-width: none;
}

.CardCarousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for cleaner look */
}

.CardCarousel > div {
 flex: 0 0 calc(33%);
  scroll-snap-align: start;
  /*width: 540px; /* matches the card width */
}

@media (max-width: 768px) {
  .CardCarousel > div {
    flex: 0 0 90%;
  }
}
